h1{
    color:mediumslateblue;
}
img{
    width: 400px;
}
#thirdDiv{
    height:500px;
    width:600px;
    background-color: gray;
    padding: 50px;
    border: 5px solid black;
}
#spanId{
   font-size: 18px;
   margin: 50px; 
}